<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Crud App</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home </a>
            </li>
            <li>
                <a href="/tasks/">Tasks </a>
            </li>
            <li>
                <a href="/singup">singup</a>
            </li>
        </ul>
    </nav>
    
    {% block content%}
    {% endblock%}
</body>
</html>


{% entends 'base.html' %}

{% block content %}
<h1> </h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, iure? Laborum magni neque, ratione sint dicta, error illum consectetur repudiandae tenetur quo nostrum alias itaque aliquam voluptates fuga impedit libero molestias possimus voluptatum nam. Corrupti quis earum et quaerat adipisci incidunt voluptatibus natus? Unde tenetur aperiam nostrum voluptatibus, veniam ad a dolorum voluptate numquam aliquid hic recusandae. Hic perferendis exercitationem illo repellat optio earum reiciendis itaque provident atque. Ipsam voluptates perspiciatis et aperiam blanditiis eos quia nisi inventore impedit modi. Corporis laborum odit architecto corrupti sunt velit soluta ratione. Corrupti distinctio placeat optio atque aliquid, aliquam accusantium incidunt cum minus?
{% endblock %}

<h1>Singin</h1>